{{- $email := promptStringOnce . "email" "Email address" -}}
{{ $passphrase := promptStringOnce . "passphrase" "Chezmoi passphrase" -}}

encryption = "gpg"

[data]
    email = {{ $email | quote }}
    passphrase = {{ $passphrase | quote }}

[gpg]
    symmetric = true
    args = ["--quiet", "--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache"]
