[submodule "scripts"]
	path = scripts
	url = https://github.com/jimlawton/scripts
[submodule "vim/bundle/tabnine-vim"]
	path = vim/bundle/tabnine-vim
	url = https://github.com/zxqfl/tabnine-vim.git
[submodule "autoenv"]
	path = autoenv
	url = http://github.com/kennethreitz/autoenv.git
[submodule "git/mingit"]
	path = git/mingit
	url = https://github.com/jimlawton/mingit.git
[submodule "git/git-identify"]
	path = git/git-identify
	url = https://github.com/ConnorAtherton/git-identify.git
[submodule "hyper-hacks"]
	path = hyper-hacks
	url = https://github.com/jimlawton/hyper-hacks.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "z-zsh"]
	path = z-zsh
	url = https://github.com/sjl/z-zsh.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/tabnine/YouCompleteMe.git
