[submodule "vim-fugitive"]
    path = vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-markdown"]
    path = vim/bundle/vim-markdown
    url = https://github.com/tpope/vim-markdown.git
[submodule "vim-sensible"]
    path = vim/bundle/vim-sensible
    url = https://github.com/tpope/vim-sensible.git
[submodule "vim-liquid"]
    path = vim/bundle/vim-liquid
    url = https://github.com/tpope/vim-liquid.git
[submodule "vim-scriptease"]
    path = vim/bundle/vim-scriptease
    url = https://github.com/tpope/vim-scriptease.git
[submodule "vim-surround"]
    path = vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/jimlawton/scripts
[submodule "unison-sync"]
	path = unison-sync
	url = https://github.com/jimlawton/unison-sync
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/tabnine-vim"]
	path = vim/bundle/tabnine-vim
	url = https://github.com/zxqfl/tabnine-vim.git
[submodule "autoenv"]
	path = autoenv
	url = http://github.com/kennethreitz/autoenv.git
[submodule "git/mingit"]
	path = git/mingit
	url = https://github.com/jimlawton/mingit.git
[submodule "git/git-identify"]
	path = git/git-identify
	url = https://github.com/ConnorAtherton/git-identify.git
[submodule "hyper-hacks"]
	path = hyper-hacks
	url = https://github.com/jimlawton/hyper-hacks.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "z-zsh"]
	path = z-zsh
	url = https://github.com/sjl/z-zsh.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/tabnine/YouCompleteMe.git
