{{- $email := promptStringOnce . "email" "Email address" -}}
{{ $passphrase := promptStringOnce . "passphrase" "Chezmoi passphrase" -}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age160lkyv2ayy6n5j2d34h72kjry00styzt24mfsq2dn588tn95ygzqrnnak6"

[data]
    email = {{ $email | quote }}
    passphrase = {{ $passphrase | quote }}
