0,15,30,45 8,9,10,11,12 * * 1,2,3,4,5 python3 ~/.local/share/chezmoi/obsidian/daily-note.py >> ~/daily-note.log 2>&1
0,15,30,45 8,9,10,11,12 * * 1 python3 ~/.local/share/chezmoi/obsidian/weekly-report.py >> ~/weekly-report.log 2>&1
